#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/libmp3splt-dev/mp3splt.rules


DEB_CONFIGURE_EXTRA_FLAGS := --enable-oggsplt_symlink --enable-flacsplt_symlink

%:
	dh $@ 

override_dh_auto_configure:
	dh_auto_configure -- ${DEB_CONFIGURE_EXTRA_FLAGS} PKG_CONFIG_PATH=/tmp/temp/usr/lib/pkgconfig

